<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="background-image: url('https://cdn.pixabay.com/photo/2015/09/10/14/11/jeju-934479_1280.jpg')">
    <link rel="stylesheet" href="/css/styles.css">
    <header class="masthead">
        <div th:replace="fragments/bodyHeader :: bodyHeader" />

        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-black font-weight-bold text-uppercase">여행 일정을 등록해 보세요!</h1>
                    <hr class="divider">
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">당신의 체계적이고 후회없는 여행을 도와드립니다.</p>
                    <a class="btn btn-primary btn-xl" href="/login">Login here</a>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer" />
    </header> <!-- /container -->
</body>
</html>

