<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <title>여행일정도우미 | 새로운 여행 경험의 시작</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="background-image: url('https://cdn.pixabay.com/photo/2015/09/10/14/11/jeju-934479_1280.jpg')">
    <link rel="stylesheet" href="/css/styles.css">
    <header class="masthead">

        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-black font-weight-bold text-uppercase">Register your travel itinerary!</h1>
                    <hr class="divider">
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">We will help you travel without regrets.</p>
                    <a class="btn btn-primary btn-xl" href="/login">Login here</a>
                </div>
            </div>
        </div>
    </header> <!-- /container -->
</body>
</html>

