<!--
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/header :: header" />


<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <a href="/logout" class="btn btn-primary btn-block" role="button"><h3 class="text-muted"><b>로그아웃</b></h3></a>

    <head>
        <meta charset="utf-8">
        <title>Google Map</title>
    </head>

    <body>
    <div id="map" style="width:100%; height: 50vh;"></div>


    <script>
    function initMap() {
      const map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 37.5400456, lng: 126.9921017 },
        zoom: 10
      });

      var locations = "[[${schedule.locations}]]";
      console.log(locations);

      locations = locations.split(":");

      const malls = [
        { label: "A", name: "코엑스몰", lat: 37.5115557, lng: 127.0595261 },
        { label: "B", name: "광장시장", lat: 37.5700398, lng: 126.9996036 },
        { label: "C", name: "롯데월드타워몰", lat: 37.5125585, lng: 127.1025353 },
      ];

      for (let i = 0; i < locations.length; i++) {
        var data = locations[i].split(",");
        const lat = parseFloat(data[0]);
        const lng = parseFloat(data[1]);

        if (!isNaN(lat) && !isNaN(lng)) {
            malls.push({ label: i.toString(), name: "위치 " + i, lat: lat, lng: lng });
        }
      }

      const bounds = new google.maps.LatLngBounds();
      const infoWindow = new google.maps.InfoWindow();

      malls.forEach(({ label, name, lat, lng }) => {
        const marker = new google.maps.Marker({
          position: { lat, lng },
          label,
          map
        });
        bounds.extend(marker.position);

        marker.addListener("click", () => {
          map.panTo(marker.position);
          infoWindow.setContent(name);
          infoWindow.open({
            anchor: marker,
            map
          });
        });
      });

      map.fitBounds(bounds);
    };
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8YJRw_pqqsVcrN5Fld0anTykAdZ4F8zI&callback=initMap&region=kr"></script>
    </body>

    <div>
        <table class="table table-striped">

            <thead>
            <tr>
                <th>#</th>
                <th>여행날짜</th>
                <th>여행지명</th>
                <th>설명</th>
                <th>상태</th>
                <th>작성날짜</th>
                <th></th>
            </tr>
            </thead>

            <tbody>

            <tr th:object="${schedule}">
                <td th:text="${schedule.id}"></td>
                <td th:text="${schedule.travelDate}"></td>
                <td th:text="${schedule.destination}"></td>
                <td th:text="${schedule.comment}"></td>
                <td th:text="${schedule.visitStatus}"></td>
                <td th:text="${schedule.writeDate}"></td>
                <td>
                    <a href="#" th:href="@{/schedules/{id}/edit (id=${id})}"
                       class="btn btn-primary" role="button">수정</a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> &lt;!&ndash; /container &ndash;&gt;
</body>
</html>-->
