<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />

<style>
    .field-error {
        border-color: red;
        color : red;
    }
</style>

<body>
<div class="container">

  <div th:replace="fragments/bodyHeader :: bodyHeader"/>

  <form th:object="${scheduleForm}" method="post">
    <!-- id -->
    <input type="hidden" th:field="*{id}" />

    <div class="form-group">
      <label th:for="travelDate">여행날짜</label>
      <input type="date" th:field="*{travelDate}" class="form-control" placeholder="여행날짜를 입력하세요"
             th:errorclass="field-error">
      <p class="field-error" th:errors="*{travelDate}">Incorrect Data</p>
    </div>

    <div class="form-group">
      <label th:for="destination">여행지명</label>
      <input type="text" th:field="*{destination}" class="form-control" placeholder="여행지명을 입력하세요"
             th:errorclass="field-error">
      <p class="field-error" th:errors="*{destination}">Incorrect Data</p>
    </div>

    <div class="form-group">
      <label th:for="comment">설명</label>
      <input type="text" th:field="*{comment}" class="form-control" placeholder="설명을 입력하세요">
    </div>

    <div class="form-group mx-sm-1 mb-2">
      <label th:for="comment">방문상태</label>
      <select th:field="*{visitStatus}" class="form-control" th:errorclass="field-error">
        <option value="">방문상태를 선택해주세요</option>
        <option th:each="status : ${T(com.YcTechAcademy.travelSchedules.schedule.domain.VisitStatus).values()}"
                th:value="${status}"
                th:text="${status}">option
        </option>
      </select>
      <p class="field-error" th:errors="*{visitStatus}">Incorrect Data</p>
    </div>

<!--    <div class="form-group">
      <label th:for="writeDate">작성날짜</label>
      <input type="date" th:field="*{updatedAt}" class="form-control"
             placeholder="작성날짜를 입력하세요">
    </div>-->

    <div class="form-group">
      <label th:for="locations">위치 정보</label>
      <input type="text" th:field="*{locations}" class="form-control"
             placeholder="위치 정보를 입력하세요. (Ex: lat1,lng1:lat2,lng2,...)">
    </div>

    <button type="submit" class="btn btn-primary btn-block border border-white"  style="background-color: #F4623A;">수정하기</button>

    <a href="#" th:href="@{/schedules/{id}/delete (id=${id})}"
       class="btn btn-danger btn-block" role="button" >삭제하기</a>

  </form>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>